*{
    margin: 0px;
    
    --lighterColor: rgb(215, 247, 255);
    --darkColor: rgb(3, 50, 65);
    --lightColor: rgb(119, 220, 245);
    --darkerColor: rgb(2, 30, 41); 

    box-sizing: border-box;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;

    height: 150px;
    width: 100%;
    background: var(--lightColor);

    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    word-spacing: 0.2em;
    font-weight: bold;
    color: var(--darkColor);

    border-bottom: 8px solid var(--darkColor);
    
}

.background{
    background:url("./Images/AllMyGames.png");

    background-attachment: fixed;
    background-repeat: round;

    width:100%;
    height:calc(100vh - 150px);
    position:relative;
    z-index: 0;
}

.colorOverlay{
    background: rgba(0,0,0,0.2);
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
}

.main{
    width:100%;
    background:var(--lightColor);
    border-top: 8px solid var(--darkColor);

    padding: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.games{

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
}

.panel{
    margin: 30px; 
    padding: 15px;

    width: 230px;
    height: 260px;

    background: var(--lighterColor);
    border: 4px solid var(--darkColor);
    border-radius: 12px;
    box-shadow: 4px -4px 10px var(--darkColor);

    transition: all 0.2s ease;

    text-decoration:none;
    color: black;
}

.panel:hover{
    transform: scale(1.1);
}

.gameImage {
    border-radius: 12px;
    border: 3px solid var(--darkColor);
    display: flex;

    width:195px;
    height: 150px;
}

.gameTitle{
    margin: 8px;
    text-align: center;
    font-size: 18px;
}

.panel p {
    font-size: 14px;
}

.footer{
    padding: 30px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;

    background: var(--darkColor);
    border-top: 8px solid var(--darkerColor);
    color: white;

    font-family: 'Times New Roman', Times, serif;
}

.footer a {
    color:var(--lighterColor);
    display:inline-block;
    width:100px;
}
.footer a:hover{
    text-decoration: none;
    color: var(--lightColor);
}