*{
    margin: 0px;
    
    --lighterColor: rgb(215, 247, 255);
    --darkColor: rgb(3, 50, 65);
    --lightColor: rgb(119, 220, 245);
    --darkerColor: rgb(2, 30, 41); 

    --panelWidth: 300px;
    --panelHeight: 320px;

    box-sizing: border-box;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading{

    display: flex;

    height: 150px;
    width: 100%;
    background: var(--lightColor);

    text-align: center;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    word-spacing: 0.2em;
    font-weight: bold;
    color: var(--darkColor);

    border-bottom: 8px solid var(--darkColor);
    
}

.background{
    background:url("./Images/AllMyGames.png");

    background-attachment: fixed;
    background-repeat: round;

    width:100%;
    height:calc(100vh - 150px);
    position:relative;
    z-index: 0;
}

.colorOverlay{
    background: rgba(0,0,0,0.2);
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
}

.main{
    width:100%;
    height: 900px;
    background:var(--lightColor);
    border-top: 8px solid var(--darkColor);

    padding:30px;
}

@media screen and (max-width: 1531px)
{
    .main{ height:1600px; }
}
@media screen and (max-width: 1167px)
{
    .main{ height:1600px; }
}
@media screen and (max-width: 802px) {
    .main{ height:2800px; }   
}

.panel{
    /* Distance between other game things */
    margin: 30px; 
    /* Distance between edges and elements inside */
    padding: 15px;

    width: var(--panelWidth);
    height: var(--panelHeight);

    background: var(--lighterColor);
    border: 4px solid var(--darkColor);
    border-radius: 1em;

    display: inline-block;

    box-shadow: 4px -4px 10px var(--darkColor);

    transition: all 0.2s ease;

    text-decoration:none;
    color: black;
}

.panel:hover{
    transform: scale(1.1);
}

.gameImage {
    border-radius: 1em;
    box-sizing: border-box;
    border: 3px solid var(--darkColor);
    
    width:260px;
    height: 200px;
}

.gameTitle{
    margin: 5px;
    text-align: center;
}

.footer{
    box-sizing: border-box;
    padding: 30px;
    height:300px;
    background: var(--darkColor);
    border-top: 8px solid var(--darkerColor);
    color: white;

    font-family: 'Times New Roman', Times, serif;
}

.footer a {
    color:var(--lighterColor);
}
.footer a:hover{
    text-decoration: none;
    color: var(--lightColor);
}